<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Users">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="home_url" property="homeUrl" />
        <result column="screen_name" property="screenName" />
        <result column="created" property="created" />
        <result column="activated" property="activated" />
        <result column="logged" property="logged" />
        <result column="group_name" property="groupName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, username, password, email, home_url, screen_name, created, activated, logged, group_name
    </sql>

    <update id="updateUserNameAndEmail" parameterType="com.example.server.pojo.Bo.UserNameAndEmail">
        update t_users set username = #{username} ,email = #{email}  where uid = 1
    </update>

    <update id="updatePassword">
        update t_users set password = #{password} where uid = 1
    </update>

    <select id="getUserByUserName" resultType="com.example.server.pojo.Users">
        select * from t_users where username = #{username}
    </select>

    <select id="getIdByUserName" resultType="java.lang.Integer">
        select uid from t_users where username = #{username}
    </select>

    <select id="selectAllByUid" resultType="map">
        select * from t_users where uid = #{uid}
    </select>

</mapper>
